$grey-color: #F1F1F1;

.catalog-header {
  background: #ffffff;
}
.products {
  padding: 0;
  list-style-type: none;
}
.catalog-header__title-wrapper{
  background-color: $grey-color;
  padding: 60px 20px;
  text-align: center;
}
.product {
  button {
    right: 30px;
    position: absolute;
  }
}
.product__price {
  float: left;
}
