.catalog-header {
  background: #ffffff;

  .process-order {
    margin-bottom: 30px;
  }
}
.catalog-header__title-wrapper{
  background-color: $gray-color;
  height: 175px;
  display: flex;
  justify-content: center;
}
.catalog-header__title {
  align-self: center;
  font-size: 24px;
}

@media #{$tablet-widths} {
  .catalog-header__title-wrapper{
    padding-top: 30px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    margin-top: -78px;
    border-bottom: 20px solid;
    border-image: url(../img/bg-zigzag-fill.svg) 34 repeat;
  }
  .catalog-header__title {
    font-size: 40px;
  }
}
@media #{$desktop-widths} {
  .catalog-header__title-wrapper {
    border-bottom: 34px solid;
    padding-bottom: 30px;
    margin-bottom: 60px;
  }
  .catalog-header__title {
    font-size: 50px;
  }
}
