.feedback {
  background: #ffffff;
  padding: 15px 30px 45px 30px;
  display: flex;
  flex-direction: column;

  border-bottom: 6px solid;
  border-image: url(../img/bg-zigzag-line.svg) 34 repeat;
}
.feedback__content {
  font-family: $opensans-font-family;
  color: $buttons-color;
  font-size: 14px;
  line-height: 30px;
  padding-top: 15px;
}
.feedback__autor {
  font-size: 14px;
  line-height: 14px;
}
.feedback__autor-email {
  text-decoration: none;
  font-family: $opensans-font-family;
  font-size: 14px;
  color: $buttons-color;
  &:visited {
    color: $buttons-color;
  }
  &:link {
    color: $buttons-color;
  }
}
.feedback__link-panel {
  width: 260px;
  height: 50px;
  align-self: center;
  display: flex;
  justify-content: center;
  padding: 30px 0 40px 0;
}
.feedback__link {
  //padding: 0 30px;
  align-self: center;
  border: 1px solid lightgray;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.feedback__link:hover {
  opacity: 0.6;
}
.feedback__link:active {
  opacity: 0.3;
}
.feedback-order {
  width: 260px;
  height: 50px;
  align-self: center;
}
.feedback__details-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media #{$tablet-widths} {
  .feedback {
    background: #ffffff url(../img/review@1x.jpg) left top no-repeat;

    margin-top: 5px;
    padding: 50px;
    padding-bottom: 120px;
    border-bottom: 17px solid;
    border-image: url(../img/bg-zigzag-line.svg) 34 repeat;

    .section-title {
      padding-top: 40px;
      order: 0;
      align-self: flex-start;
      width: auto;
      flex-grow: 2;
    }

    //position: relative;

    flex-direction: row;
    flex-wrap: wrap;
  }

  .feedback__content,
  .feedback__autor{
    width: 100%;
  }

  .feedback__content {
    padding-top: 50px;
    min-height: 60px;
    font-size: 16px;
    margin: 0;
    order: 1;
  }

  .feedback__details-wrapper {
    order: 1;
  }

  .feedback__autor,
  .feedback__autor-email{
    font-size: 16px;
    line-height: 14px;
  }

  .feedback__autor-email {
    width: 50%;
  }

  .feedback__link-panel {
    padding: 0;
    align-self: flex-end;
    position: relative;
    top: -50px;
    width: 170px;
  }

  .feedback__link {
    border: none;
  }

  .feedback-order {
    align-self: flex-end;
    width: 175px;
    order: 0;
    margin-top: 30px;
  }
}

@media #{$desktop-widths} {
  .feedback {
    margin-top: 20px;
    padding-left: 225px;
    background-position: 50px top;
    border-bottom: 23px solid;

    .section-title {
      font-size: 50px;
      padding-top: 30px;
    }
  }

  .feedback__content {
    max-width: 700px;
    font-size: 16px;
    padding-top: 40px;
  }

  .feedback__link-panel {
    top: -45px;
  }

  .feedback-order {
    top: 77px;
    right: 50px;
  }
}
