.feedback {
  background: #ffffff;

  @media #{$tablet-widths} {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .section-title,
    .feedback__content,
    .feedback__autor{
      width: 100%;
    }

    .feedback__autor-email {
      width: 50%;
    }

    .feedback__link-panel {
      padding: 0;
    }

    .feedback-order {
      align-self: flex-end;
    }
  }
}
.feedback__autor-email {
  text-decoration: none;
  color: #000000;
  &:visited {
    color: #000000;
  }
  &:link {
    color: #000000;
  }
}
.feedback__link-panel {
  padding: 50px;
}
.feedback__link {
  margin: 0 30px;
}
