.feedback {
  background: #ffffff;
}
.feedback__autor-email {
  text-decoration: none;
  color: #000000;
  &:visited {
    color: #000000;
  }
  &:link {
    color: #000000;
  }
}
.feedback__link-panel {
  padding: 50px;
}
.feedback__link {
  margin: 0 30px;
}
