.form-order {
  background: #ffffff;
  display: flex;
  flex-direction: column;
}

.form-order__type-list,
.form-order__color-list,
.form-order__initials-list,
.form-order__tel-list,
.form-order__email-list,
.form-order__additional-list{
  padding: 0 30px;
  margin: 0;
  list-style-type: none;
  font-weight: bold;
  label {
    display: block;
  }
}

.form-order__title-wrapper {
  background-color: $gray-color;
  height: 190px;
  display: flex;
  justify-content: center;
}
.form-order__title {
  align-self: center;
  font-size: 24px;
}
.form-order__desc {
  font-family: opensans;
  font-size: 14px;
  padding: 0 30px;
}

.form-order__title-type,
.form-order__title-color,
.form-order__title-initials,
.form-order__title-tel,
.form-order__title-email,
.form-order__title-additional {
  color: $base-color;
  font-weight: bold;
  font-family: opensans;
  font-size: 16px;
  display: flex;
  &:after {
    margin-left: 30px;
    content: " ";
    width: 100%;
    height: 11px;
    border-bottom: 1px solid $base-color;
    display: inline-block;
  }
}
.form-order__title-email-text-decorator {
  min-width: 60px;
}

.form-order__label,
.form-order__checkbox,
.form-order__surname,
.form-order__name,
.form-order__patronymicname {
  font-size: 16px;
}

.form-order__surname,
.form-order__name,
.form-order__patronymicname {
  padding: 20px 0;
}

.form-order__initials-item,
.form-order__tel-item,
.form-order__email-item{
  width: 100%;
  input {
    width: 100%;
    height: 35px;
  }
}

.form-order__surname-wrapper,
.form-order__name-wrapper,
.form-order__patronymicname-wrapper,
.form-order__number-wrapper,
.form-order__email-wrapper{
  width: 100%;
}

.form-order__number-wrapper,
.form-order__email-wrapper {
  display: flex;
}
.form-order__details {
  height: 150px;
  width: 100%;
}
.form-order__submit {
  margin: 60px 0;
  height: 55px;
  width: 100%;
}
.field-icon {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 40px;
}
.field-icon--phone {
  background: $base-color;
  mask: url(../img/icon-phone.svg) center no-repeat;
}
.field-icon--mail {
  background: $base-color;
  mask: url(../img/icon-mail.svg) center no-repeat;
}

@media #{$tablet-widths} {
  .form-order__title-type,
  .form-order__title-color,
  .form-order__title-initials,
  .form-order__title-tel,
  .form-order__title-email,
  .form-order__title-additional {
    &:after {
      display: none;
    }
  }

  .form-order__type,
  .form-order__color,
  .form-order__initials,
  .form-order__tel,
  .form-order__email,
  .form-order__additional {
    padding: 60px 0;
  }

  .form-order__color,
  .form-order__tel,
  .form-order__email {
    background-color: $gray-color;
  }

  .form-order__tel {
    padding-bottom: 20px;
  }
  .form-order__email {
    padding-top: 20px;
  }

  .form-order__type-list {
    display: table;
  }

  .form-order__color-list {
    display: flex;
    flex-wrap: wrap;
  }

  .form-order__color-item {
    width: 50%;
  }

  .form-order__initials-list,
  .form-order__tel-list,
  .form-order__email-list,
  .form-order__additional-list{
    display: flex;
    flex-direction: column;
  }

  .form-order__initials-item,
  .form-order__tel-item,
  .form-order__email-item{
    display: flex;
    width: 100%;
    input {
      width: 100%;
    }
  }

  .form-order__number-item,
  .form-order__email-item{
    max-height: 40px;
  }

  .form-order__number-wrapper,
  .form-order__email-wrapper{
    max-height: 40px;
  }

  .form-order__additional {
    textarea {
      width: 100%;
    }
  }

  .form-order__title-type,
  .form-order__title-color,
  .form-order__title-initials,
  .form-order__title-tel,
  .form-order__title-email,
  .form-order__title-additional {
    float: left;
    margin: 0;
    width: 120px;
  }

  .form-order__submit {
    width: 230px;
    margin: 0;
  }
}

@media #{$desktop-widths} {
  .form-order__color-item {
    width: 33%;
  }

  .form-order__submit {
    margin-left: 120px;
  }

  .form-order__title-type,
  .form-order__title-color,
  .form-order__title-initials,
  .form-order__title-tel,
  .form-order__title-email,
  .form-order__title-email-text-decorator,
  .form-order__title-additional {
    width: auto;
    align-self: center;
  }

  .form-order__title-type-wrapper,
  .form-order__title-color-wrapper,
  .form-order__title-initials-wrapper,
  .form-order__title-tel-wrapper,
  .form-order__title-email-wrapper,
  .form-order__title-additional-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 120px;
    float: left;
  }
}
