.page-header {
  background: #ffffff;
  width: 100%;
  text-align: center;
}

.page-header__menu-trigger {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
  width: 20px;
  height: 15px;
  background: url(../img/icon-menu-open.svg) center no-repeat;
}

.header-menu {
  display: none;
}

.menu-opened {
  .page-header__menu-trigger {
    background-image: url(../img/icon-menu-close.svg);
  }

  .header-menu {
    display: block;
  }
}

.page-header__logo {
  display: flex;
  justify-content: center;
}

.page-header__logo-image {
  height: 80px;
  width: 120px;
  background: url(../img/logo-mobile.svg) center no-repeat;
}

.header-menu {
  font-weight: bold;
  font-size: 16pt;
}

.header-menu__list {
  padding: 0;
  margin: 0;
  text-align: left;
}

.header-menu__item {
  list-style-type: none;
  padding-left: 100px;
  padding-top: 30px;
  height: 50px;
  border-bottom: 1px solid lightgray;
  border-top: 1px solid lightgray;
}

.header-menu__item + .header-menu__item {
  border-top: 0;
}

.header-menu__link--new,
.header-menu__link--sell,
.header-menu__link--delivery{
  display: none;
}

.header-menu__item--search {
  padding-left: 0;

  &::before {
    background: lightgray;
    mask: url(../img/icon-search.svg) no-repeat center center;
    content: "";
    width: 90px;
    height: 18px;
    display: inline-block;
  }
}

.header-menu__item--search:hover,
.header-menu__item--cart:hover{
  &:before {
    background: $base-color;
  }
}

.header-menu__item--search:active,
.header-menu__item--cart:active{
  &:before {
    background: $base-color;
    opacity: 0.3;
  }
}

.header-menu__item--cart {
  padding-left: 0;
}

.header-menu__item--cart::before {
  background: lightgray;
  mask: url(../img/icon-cart.svg) no-repeat center;
  content: "";
  width: 90px;
  height: 18px;
  display: inline-block;
}

.header-menu__link {
  text-decoration: none;
  color: #000000;
  &:visited {
    color: #000000;
  }
  &:link {
    color: #000000;
  }
  &:hover {
    opacity: 0.6;
  }
  &:active {
    opacity: 0.3;
  }
}
@media #{$tablet-widths} {
  .header-menu {
    display: block;
  }

  .page-header {
    text-align: left;
    border-bottom: 1px solid lightgray;
    max-height: 90px;
  }

  .page-header__logo-image {
    height: 90px;
    background-image: url(../img/logo-tablet.svg);
  }

  .page-header__menu-trigger {
    display: none;
  }

  .header-menu {
    font-size: 14px;
  }

  .header-menu__item {
    padding: 0;
    border: 0;
    align-self: flex-end;
    width: 100%;
    margin-left: 30px;
    height: auto;
  }

  .header-menu__list {
    position: absolute;
    top: 0;
    float: left;
    display: flex;
    height: 140px;
    width: 100%;
    margin: 0;
  }

  .header-menu__item--catalog {
    max-width: 220px;
    margin-left: 50px;
  }

  .header-menu__item--search {
    align-self: flex-start;
    max-width: 18px;
    display: flex;
    justify-content: center;
    padding: 36px;
    margin: 0;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
  }

  .header-menu__link--search--text-wrapper {
    display: none;
  }

  .header-menu__item--search::before {
    width: 18px;
  }

  .header-menu__item--cart {
    align-self: flex-start;
    height: 90px;
    padding-top: 36px;
    max-width: 320px;
    min-width: 280px;
    margin-left: 0;
  }

  .header-menu__item--cart::before {
    width: 50px;
  }

  .header-menu__link--delivery {
    display: block;
    font-weight: normal;
    font-size: 14px;
    margin-top: 64px;
    position: absolute;
    right: 20px;
  }
}
@media #{$desktop-widths} {
  .page-header {
    text-align: center;
  }

  .page-header__logo-image {
    background-image: url(../img/logo-desktop.svg);
  }

  .header-menu__list {
    text-align: left;
  }

  .header-menu__item {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    padding-top: 36px;
  }

  .header-menu__link--new,
  .header-menu__link--sell {
    display: block;
    margin-top: 64px;
  }

  .header-menu__item--search {
    margin-top: 0px;
  }

  .header-menu__item--cart {
    display: inline-block;
  }
}




