.page-header {
  background: #ffffff;
  width: 100%;
  text-align: center;
  z-index: 2;

  span {
    font-size: 16px;
  }
}

.page-header__menu-trigger {
  padding-top: 60px;
  padding-right: 30px;
  cursor: pointer;
  width: 20px;
  height: 15px;
  background: url(../img/icon-menu-open.svg) center no-repeat;
}

.menu-opened {
  .page-header__menu-trigger {
    background-image: url(../img/icon-menu-close.svg);
  }
}

.page-header__logo-image {
  align-self: center;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media #{$tablet-widths} {
  .page-header__logo {
    justify-content: flex-start;
    padding-left: 45px;
  }

  .page-header {
    text-align: left;
  }

  .page-header__logo {
    height: 90px;
  }

  .page-header__menu-trigger {
    display: none;
  }
}
@media #{$desktop-widths} {
  .page-header {
    text-align: center;
  }
}



