.info {
  background: #ffffff;
  padding: 30px;
}

.info__list {
  padding: 0;
  list-style-type: none;
  font-size: 16px;
}
.info__image-wrapper {
  height: 90px;
  display: flex;
}
.info__image {
  display: block;
}
.info__text {
  display: inline-block;
  font-weight: bold;
  font-size: 18px;
}
@media #{$tablet-widths} {
  .info__list {
    display: flex;
    flex-wrap: wrap;
  }
  .info__item {
    width: 50%;
  }
}
