.info {
  background: #ffffff;

  @media #{$tablet-widths} {
    .info__list {
      display: flex;
      flex-wrap: wrap;
    }
    .info__item {
      width: 50%;
    }
  }
}

.info__list {
  padding: 0;
  list-style-type: none;
}

.info__image {
  display: block;
}
.info__text {
  display: inline-block;
  font-weight: bold;
  font-size: 18px;
}
