.info {
  background: #ffffff;
  padding: 30px;
}

.info__list {
  padding: 0;
  list-style-type: none;
  font-size: 16px;
}
.info__image {
  height: 90px;
  width: 55px;
  display: flex;
  background: $base-color;
}
.info__image--feature-1 {
  mask: url(../img/icon-feature-1.svg) center no-repeat;
}
.info__image--feature-2 {
  mask: url(../img/icon-feature-2.svg) center no-repeat;
}
.info__image--feature-3 {
  mask: url(../img/icon-feature-3.svg) center no-repeat;
}
.info__image--feature-4 {
  mask: url(../img/icon-feature-4.svg) center no-repeat;
}
.info__image--feature-5 {
  mask: url(../img/icon-feature-5.svg) center no-repeat;
}
.info__image--feature-6 {
  mask: url(../img/icon-feature-6.svg) center no-repeat;
}
.info__text {
  display: inline-block;
  font-weight: bold;
  font-size: 18px;
}
@media #{$tablet-widths} {
  .info__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-height: 420px;
  }
  .info__item {
    width: 50%;
    display: block;
    height: 140px;
  }
}
