body {
  font-family: $verdana-font-family; //opensans, Tahoma,
  //background: blue;
margin: 0;}

button {
  background: none;
  border: 2px solid $buttons-color;
  font-family: opensans;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  color: $buttons-color;
}

button:hover {
  background: $buttons-color;
  color: #ffffff;
}

button:active {
  background: $buttons-color;
  color: $button-active-color;
}

input {
  border: none;
  background: none;
  border-bottom: 2px solid $buttons-color;
  font-size: 18px;
  font-family: $verdana-font-family;
  &::-webkit-input-placeholder {
    color: $buttons-color;
    opacity: 0.3;
  }
  &:-moz-placeholder {
    color: $buttons-color;
    opacity: 0.3;
  }
  &:-ms-input-placeholder {
    color: $buttons-color;
    opacity: 0.3;
  }
}

input:hover {
  border-bottom-color: $base-color;
}

input:focus {
  border-bottom-color: $base-color;
}

input:invalid {
  border-bottom-color: #f0b1b1;
}

textarea {
  border: 2px solid $buttons-color;
  font-size: 18px;
  padding: 15px ;
  font-family: $verdana-font-family;
  &::-webkit-input-placeholder {
    color: $buttons-color;
    opacity: 0.3;
  }
  &:-moz-placeholder {
    color: $buttons-color;
    opacity: 0.3;
  }
  &:-ms-input-placeholder {
    color: $buttons-color;
    opacity: 0.3;
  }
}

textarea:hover {
  border-color: $base-color;
}

textarea:focus {
  border-color: $base-color;
}

textarea:invalid {
  border-color: #f0b1b1;
}

@media #{$tablet-widths} {
  input {
    padding-left: 20px;
  }
}
