.page-footer {
  background-color: $gray-color;
  text-align: center;

  @media #{$tablet-widths} {
    width: 100%;
    display: flex;
    justify-content: center;

    .developer-text {
      display: flex;
    }
  }
}

.page-footer__link {
  margin: 0 10px;
}
.developer-logo {
  margin-left: 10px;
}
