.product {
  padding: 30px;
  background: #ffffff;
}

.section-title {
  margin: 0;
  font-size: 24px;
}
.product__title {
  color: $base-color;
  font-weight: bold;
  font-family: opensans;
  font-size: 16px;
}
.product__options {
  list-style-type: none;
  padding: 0;
  font-size: 14px;
  font-family: opensans;
}

.product__option {
  padding-bottom: 30px;
}

.product__option + .product__option {
  border-bottom: 1px solid lightgray;
  padding-bottom: 0;
  padding-top: 10px;
  height: 30px;
}

.product__option-name {
  min-width: 100px;
  display: inline-block;
}
.product__option-value {
  margin-right: auto;
  margin-left: auto;
}
.product__image {
  margin-left: auto;
  margin-right: auto;
  display: table;
  background: url(../img/triple-set-mobile@1x.jpg) center no-repeat;
  background-size: cover;
  width: 260px;
  height: 315px;
}

@media #{$retina} {
  .product__image {
    background-image: url("../img/triple-set-mobile@2x.jpg");
  }
}

.product__order-wrapper {
  text-align: center;
}
.product__price {
  padding: 30px 0;
  font-size: 16px;
  font-weight: bold;
}
.product__order {
  width: 260px;
  height: 50px;
}
@media #{$tablet-widths} {
  .product {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .product-title__wrapper {
    display: flex;
    //flex-direction: column;
    width: 100%;
    height: 45px;
  }

  .section-title {
    font-size: 40px;
    width: 100%;
  }
  .product__title {
    align-self: flex-end;
    text-align: center;
  }

  .product-details__wrapper {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 400px;
  }

  .product__options {
    width: 50%;
    font-size: 16px;
  }

  .product__image {
    align-self: flex-end;
    width: 333px;
    height: 404px;
    background-image: url(../img/triple-set-tablet@1x.jpg);
  }
  @media #{$retina} {
    .product__image {
      background-image: url("../img/triple-set-tablet@2x.jpg");
    }
  }

  .product__order-wrapper {
    width: 50%;
    position: relative;
    top: -130px;
  }

  .product__price {
    font-size: 18px;
    margin: 0;
  }
}

@media #{$desktop-widths} {
  .product {
    height: 650px;
    padding-top: 140px;
  }

  .product-title__wrapper {
    flex-direction: row-reverse;
    height: 55px;
    width: 720px;
    z-index: 2;
  }

  .section-title {
    font-size: 50px;
  }

  .product__title {
    width: 85px;
    padding: 0 45px;
  }

  .product__options,
  .product__order-wrapper{
    padding-left: 175px;
    width: 350px;
  }

  .product__image {
    background-image: url(../img/triple-set-desktop@1x.jpg);
    background-position: left;
    width: 50%;
    margin-left: 45px;
    height: 636px;
    position: relative;
    top: -200px;
    z-index: 1;
  }
  @media #{$retina} {
    .product__image {
      background-image: url("../img/triple-set-desktop@2x.jpg");
    }
  }
}
