@font-face {
  font-family: opensans;
  src: url(/fonts/opensans.woff);
}

@import "header";
@import "main-header";
@import "product";
@import "info";
@import "feedback";
@import "contacts";
@import "page-footer";

@import "form-order";

@import "catalog-header";

body {
  font-family: opensans;
  background: blue; }