$base-color: #63D1BB;
$dark-base-color: #149080;
$additional-color: #56C3B2;
$gray-color: #F1F1F1;

$opensans-font-family: opensans, "Arial", sans-serif;
$verdana-font-family: Verdana, "Arial", sans-serif;

$tablet-widths: "(min-width: 768px)";
$desktop-widths: "(min-width: 1150px)";

$buttons-color: #444444;
$button-active-color: #8B8B8B;

$retina: "(min-resolution: 144dpi), (min-resolution: 1.5dppx)";
